footer {
  position: relative;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

footer ul li {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer ul li h4 {
  color: #828282;
}

footer ul li p {
  display: flex;
  align-items: start;
  gap: 12px;
  color: white;
}

footer ul li p img.currency-logo {
  width: 46px;
  height: 46px;
}

