header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

header div.left {
  display: flex;
  align-items: center;
  gap: 28px;
}

header div div.prefix {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  color: #1bfeb2;
  font-size: 42px;
}

header div div.name {
  font-size: 68px;
  font-family: "Dubai Light";
}


header div div.prefix .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  border-radius: 50%;
}

header p.logo {
  font-size: 58px;
  font-family: "Dubai Bold";
}

header p.logo span {
  color: #c5c7c6;
}
