
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  transform: scale(0.75);
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  padding: 80px;
  padding-right: 40px;
}

img.background {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
