
body {
  font-family: "Dubai";
  color: #fff;
  font-size: 56px;
  line-height: 1;
}

body, p, ul, h4 {
  padding: 0;
  margin: 0;
}

strong {
  font-family: "Dubai Bold";
}

img.currency-logo {
  border-radius: 50%;
}

div.background {
  background-color: #123033;
}
